.Footer {
    height: 79px;
    width: 100%;
    border-top: solid 1px #DEDEDE;
}

.right {
    display: block;
    margin: 0;
    text-align: left;
    color: #3E3E3E;
    padding: 30px 0px 30px 129px;
}